<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress Feed" value="https://nuget.devexpress.com/api" />
	<add key="DevExpress Feed2" value="https://nuget.devexpress.com/%MYTESTVAR33%/api" />
	<add key="DXFeed" value="%DX_NUGET_PUB%" />	
  </packageSources>
</configuration>